/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100vw;
  height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: none;
}

button:focus {
  outline: none;
}
textarea {
  resize: none;
  overflow: hidden;
}
/* LOADER */
#loading {
  background-color: gray;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  transition: opacity 0.5s ease;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
.object {
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-left: 5px solid #b0cac7;
  border-right: 5px solid #b0cac7;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: loaderAnimation 2s infinite;
  animation: loaderAnimation 2s infinite;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}
@keyframes loaderAnimation {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.loadingText {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  transition: opacity 0.5s ease;
}
.loadingH1 {
  color: #b0cac7;
  font-family: "Poppins";
  animation: shake 1s linear infinite;
  font-size: 1.5rem;
}
.loader-finish {
  opacity: 0;
  pointer-events: none;
}
/* NAVBAR */
.navWrapper {
  position: fixed;
  z-index: 100;
  left: 98%;
  top: 50%;
  transform: translate(-98%, -50%);
  width: 5%;
  height: 10%;
  text-align: center;
}

nav ul li {
  padding-top: 5px;
  list-style: none;
  transition: 0.2s ease;
}

nav ul li a {
  color: white;
  font-size: 1.3rem;
  transition: 0.2s ease;
  opacity: 0.7;
}

nav ul li a:active {
  color: gray;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: lightblue;
  animation: shake 1s linear infinite;
}

.active {
  transition: 0.4s ease;
  animation: shake 1s linear infinite;
  border-bottom: 2px solid gray;
  opacity: 1;
}

.clickToNav {
  position: absolute;
  color: grey;
  font-size: 1.1rem;
  z-index: 100;
  left: 98%;
  top: 40%;
  width: 5%;
  transform: translate(-98%, -40%);
  text-align: center;
}

/* PARTICLES ANIMATION */
.animationArea {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particlesArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.particlesArea li {
  position: absolute;
  display: block;
  pointer-events: none;
  list-style: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  filter: blur(5px);
  bottom: -40px;
}

.particlesArea li:nth-child(1) {
  left: 6%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
}

.particlesArea li:nth-child(2) {
  left: 26%;
  animation-delay: 10s;
}

.particlesArea li:nth-child(3) {
  left: 36%;
  animation-delay: 5s;
}

.particlesArea li:nth-child(4) {
  left: 46%;
  animation-delay: 15s;
  width: 35px;
  height: 35px;
}

.particlesArea li:nth-child(5) {
  left: 56%;
  animation-delay: 3s;
}

.particlesArea li:nth-child(6) {
  left: 66%;
  animation-delay: 9s;
}

.particlesArea li:nth-child(7) {
  left: 96%;
  width: 55px;
  height: 55px;
  animation-delay: 7s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

/*HOME*/
#home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover;
  filter: grayscale(0.3);
}

/* INTRO TEXT */
h1,
h2 {
  font-size: 4rem;
  color: lightgray;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}

/* INTRO TEXT ANIMATION */
.introh1::before,
.introh1::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
}

.introh2::before,
.introh2::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
}

.introh2::before {
  left: -2px;
  text-shadow: -2px 0 red;
  animation: glitch1 2s 0s linear reverse infinite;
}

.introh1::before {
  left: -2px;
  text-shadow: -2px 0 red;
  animation: glitch1 2s 0s linear reverse infinite;
}

.introh2:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch2 2s 0s linear reverse infinite;
}

.introh1:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch2 2s 0s linear reverse infinite;
}

@keyframes glitch1 {
  0% {
    clip: rect(132px, 350px, 101px, 30px);
  }

  5% {
    clip: rect(17px, 350px, 94px, 30px);
  }

  10% {
    clip: rect(40px, 350px, 66px, 30px);
  }

  15% {
    clip: rect(87px, 350px, 82px, 30px);
  }

  20% {
    clip: rect(137px, 350px, 61px, 30px);
  }

  25% {
    clip: rect(34px, 350px, 14px, 30px);
  }

  30% {
    clip: rect(133px, 350px, 74px, 30px);
  }

  35% {
    clip: rect(76px, 350px, 107px, 30px);
  }

  40% {
    clip: rect(59px, 350px, 130px, 30px);
  }

  45% {
    clip: rect(29px, 350px, 84px, 30px);
  }

  50% {
    clip: rect(22px, 350px, 67px, 30px);
  }

  55% {
    clip: rect(67px, 350px, 62px, 30px);
  }

  60% {
    clip: rect(10px, 350px, 105px, 30px);
  }

  65% {
    clip: rect(78px, 350px, 115px, 30px);
  }

  70% {
    clip: rect(105px, 350px, 13px, 30px);
  }

  75% {
    clip: rect(15px, 350px, 75px, 30px);
  }

  80% {
    clip: rect(66px, 350px, 39px, 30px);
  }

  85% {
    clip: rect(133px, 350px, 73px, 30px);
  }

  90% {
    clip: rect(36px, 350px, 128px, 30px);
  }

  95% {
    clip: rect(68px, 350px, 103px, 30px);
  }

  100% {
    clip: rect(14px, 350px, 100px, 30px);
  }
}

@keyframes glitch2 {
  0% {
    clip: rect(129px, 350px, 36px, 30px);
  }

  5% {
    clip: rect(36px, 350px, 4px, 30px);
  }

  10% {
    clip: rect(85px, 350px, 66px, 30px);
  }

  15% {
    clip: rect(91px, 350px, 91px, 30px);
  }

  20% {
    clip: rect(148px, 350px, 138px, 30px);
  }

  25% {
    clip: rect(38px, 350px, 122px, 30px);
  }

  30% {
    clip: rect(69px, 350px, 54px, 30px);
  }

  35% {
    clip: rect(98px, 350px, 71px, 30px);
  }

  40% {
    clip: rect(146px, 350px, 34px, 30px);
  }

  45% {
    clip: rect(134px, 350px, 43px, 30px);
  }

  50% {
    clip: rect(102px, 350px, 80px, 30px);
  }
  55% {
    clip: rect(119px, 350px, 44px, 30px);
  }

  60% {
    clip: rect(106px, 350px, 99px, 30px);
  }

  65% {
    clip: rect(141px, 350px, 74px, 30px);
  }

  70% {
    clip: rect(20px, 350px, 78px, 30px);
  }

  75% {
    clip: rect(133px, 350px, 79px, 30px);
  }

  80% {
    clip: rect(78px, 350px, 52px, 30px);
  }

  85% {
    clip: rect(35px, 350px, 39px, 30px);
  }

  90% {
    clip: rect(67px, 350px, 70px, 30px);
  }

  95% {
    clip: rect(71px, 350px, 103px, 30px);
  }

  100% {
    clip: rect(83px, 350px, 40px, 30px);
  }
}

/* ARROW ANIMATION */
.scrollArrow {
  padding-top: 1%;
  font-size: 3rem;
  color: lightgray;
}

.scrollArrow:hover {
  animation: shake 1s linear infinite;
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    transform: translate(1px, 1px) rotate(0deg);
    filter: blur(50px), grayscale(0.5);
    opacity: 1;
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    transform: translate(-1px, -2px) rotate(-2deg);
    filter: blur(20px), grayscale(0.1);
    opacity: 0.8;
  }

  20%,
  60% {
    filter: blur(0.01em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
    opacity: 0.8;
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
    opacity: 1;
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

/* PROJECTS */
#projects {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  transition: 0.3s ease;
}

.hero-bg {
  background: url(images/projects_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#projects h1 {
  z-index: 2;
}

.projectsWrapper {
  position: absolute;
  min-width: 80%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-template-rows: repeat(auto-fit 20rem);
}

.blurActive {
  transition: 0.3s ease;
  filter: blur(20px) grayscale(0.6);
}
.site {
  width: 300px;
  height: 250px;
}
.wrapp {
  height: 95%;
  width: 95%;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

#projects .presentationIMG {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.2);
}

#projects img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  box-shadow: -10px 10px 15px 10px rgba(0, 0, 0, 0.2);
}

#projectsBlur {
  position: absolute;
  height: 100vh;
  min-width: 100%;
}
.popup-1,
.popup-2,
.popup-3,
.popup-4,
.popup-5,
.popup-6 {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.3s ease;
  animation: popupAnimation 0.3s linear forwards;
  filter: blur(0px);
}

.popupActive {
  display: block;
  transition: 0.3s ease;
}

@keyframes popupAnimation {
  0% {
    opacity: 0;
    transition: 0.3s ease;
  }

  100% {
    opacity: 1;
    transition: 0.3s ease;
  }
}

.btnclose {
  z-index: 1000;
  width: 10%;
  height: 5%;
  top: 0%;
  left: 100%;
  transform: translate(-100%);
  position: absolute;
  font-family: "Montserrat", sans-serif;
  background-color: #ff5366;
  cursor: pointer;
  border: 4px solid transparent;
  color: lightgray;
  transition: 0.2s ease;
  font-size: 1.2rem;
}

.btnclose:hover,
.code:hover,
.demo:hover {
  transition: 0.2s ease;
  animation: borderAnimation 2s linear reverse infinite;
}

.btns {
  position: absolute;
  width: 50%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.code,
.demo {
  z-index: 1000;
  width: 30%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #ff5366;
  cursor: pointer;
  border: 4px solid transparent;
  color: lightgray;
  transition: 0.2s ease;
  font-size: 1.2rem;
}

@keyframes borderAnimation {
  0% {
    opacity: 1;
    filter: blur(1px);
    transition: 0.2s ease;
  }

  25% {
    transition: 0.2s ease;
    opacity: 0.7;
  }

  50% {
    transition: 0.2s ease;
    opacity: 0.9;
  }

  75% {
    opacity: 0.5;
    transition: 0.2s ease;
    border: 4px solid #006a71;
  }
}
.websiteTitle {
  width: 100%;
}
.imgShowcase {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 80%;
  transform: translate(0, -80%);
}

.desktopView {
  width: 60%;
  height: 70%;
}
.description {
  position: absolute;
  width: 40%;
  height: 65%;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

.description h1 {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #e4e3e3;
  font-size: 1.5rem;
}

.description p {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 150px;
  color: #e4e3e3;
  font-size: 1.1rem;
  padding: 10px;
}
.tools {
  height: 70px;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  list-style: none;
  color: #e4e3e3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

/* ABOUT */
#about {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px white;
}
.hero-bg-about {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px) grayscale(0.7);
  background: inherit;
}
.info {
  width: 50%;
  height: 100%;
  left: 0;
  text-align: center;
  border-right: 0.5px solid lightgray;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}
.about h2 {
  font-size: 1.8rem;
  padding: 10px 20px 0;
}
.info .techs {
  color: lightgray;
  position: absolute;
  font-size: 1.5rem;
  left: 3%;
  top: 40%;
  width: 35%;
}
.tech {
  position: absolute;
  width: 50%;
  height: 50%;
  border-left: 0.5px solid lightgray;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.tech1 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: orange;
  text-align: center;
}
.tech p {
  color: lightgray;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.tech2 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: yellow;
  text-align: center;
}
.tech3 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: yellow;
  text-align: center;
}
.tech4 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: yellow;
  text-align: center;
}
.tech5 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: yellow;
  text-align: center;
}
.tech6 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: orange;
  text-align: center;
}
.tech7 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: lightgreen;
  text-align: center;
}
.tech8 div {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  color: pink;
  text-align: center;
}
.contactDetails {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.contactDetailsMobile {
  display: none;
}
.contactDetails a {
  font-size: 2vw;
  color: white;
}
.contactDetails a:hover {
  color: lightblue;
  animation: shake 1s linear infinite;
}
.contact {
  width: 50%;
  height: 100%;
  left: 100%;
  position: absolute;
  transform: translate(-100%);
}
.message {
  width: 100%;
  height: 80%;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message textarea,
.inputText {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid #f7e7bd;
  height: 4%;
  margin-bottom: 50px;
  width: 40%;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #f7e7bd;
}
.message .submit {
  margin-top: 50px;
  width: 15%;
  height: 5%;
  font-family: "Poppins", sans-serif;
  border: 2px solid transparent;
  border-bottom: 2px solid #f7e7bd;
  background: inherit;
  color: #f7e7bd;
  transition: 0.1s ease;
  cursor: pointer;
}
.submit:focus {
  outline: none;
}
.message .submit:hover {
  transition: 0.1s ease;
  transform: scale(1.05);
  border: 2px solid #f7e7bd;
  border-top: none;
  animation: shake 2s linear infinite;
}
::placeholder {
  font-size: 1.2rem;
  text-align: center;
  color: #f7e7bd;
}
textarea:focus,
.inputText:focus {
  outline: none;
  animation: contactAnim 0.2s linear forwards;
}
@keyframes contactAnim {
  0% {
    width: 40%;
    height: 4%;
    border: 1px solid transparent;
  }
  100% {
    width: 45%;
    height: 7%;
    border: 2px solid #f7e7bd;
    border-top: none;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1623px) {
  .tech {
    height: 200px;
    top: 40%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  }
  .tech p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1258px) {
  .tech {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1050px) {
  .projectsWrapper {
    position: absolute;
    min-width: 80%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit 20rem);
  }

  .tech {
    height: 25%;
    width: 60%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
  }
  .about h2 {
    font-size: 1.2rem;
  }
}
/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  /* NAVBAR */
  .navWrapper {
    z-index: 100;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
    width: 70%;
    height: 5%;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ul li a {
    color: white;
    transition: 0.2s ease;
    opacity: 0.7;
  }
  .navlink1,
  .navlink2,
  .navlink3 {
    font-size: 1.5rem;
  }
  .clickToNav {
    position: absolute;
    color: grey;
    font-size: 1.1rem;
    z-index: 100;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -88%);
    width: 30%;
    text-align: center;
  }
  /* HOME */
  #home h1,
  h2 {
    font-size: 2rem;
  }
  .scrollArrow {
    font-size: 1.8rem;
  }
  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .site {
    margin: auto;
    width: 300px;
    height: 150px;
  }
  #projectsBlur h1 {
    display: none;
  }
  .popup-1,
  .popup-2,
  .popup-3,
  .popup-4 {
    width: 90%;
    height: 100%;
  }
  .popupWrapper {
    height: 90%;
    width: 100%;
  }
  .imgShowcase {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  /* .mobileView{
      height: 100%;
      width: 25%;
    } */
  .desktopView {
    width: 75%;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .description {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  .description p {
    font-size: 15px;
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    color: #1a1a2e;
    padding-top: 10px;
  }
  .btnclose {
    width: 25%;
    height: 7%;
  }
  .btns {
    width: 100%;
    top: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .websiteTitle {
    width: 100%;
    position: absolute;
    margin-bottom: 60px;
  }
  .description h1 {
    font-size: 20px;
  }
  .tools {
    padding: 0;
    position: absolute;
    top: 70%;
    background-color: inherit;
    width: 100%;
    box-shadow: none;
  }
  .about {
    width: 100%;
    height: 90%;
  }
  .info {
    width: 100%;
    height: 50%;
    border: none;
  }
  .info h2 {
    width: 100%;
    font-size: 1.1rem;
  }
  .info p {
    width: 100%;
    font-size: 1.1rem;
    top: 25%;
  }
  .techs {
    display: none;
  }
  .tech {
    width: 100%;
    height: 70%;
    top: 60%;
  }
  .tech1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contactDetails {
    display: none;
  }
  .contact {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
  }
  .contactDetailsMobile {
    width: 80%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    font-size: 2rem;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .message {
    display: none;
  }
}
