@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  body {
    overflow: scroll;
  }

  /* NAVBAR */
  .navWrapper {
    z-index: 100;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
    width: 70%;
    height: 5%;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ul li a {
    color: white;
    transition: 0.2s ease;
    opacity: 0.7;
  }
  .navlink1,
  .navlink2,
  .navlink3 {
    font-size: 1.5rem;
  }
  .clickToNav {
    position: absolute;
    color: grey;
    font-size: 1.1rem;
    z-index: 100;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -88%);
    width: 30%;
    text-align: center;
  }
  /* HOME */
  #home h1,
  h2 {
    font-size: 2rem;
  }
  .scrollArrow {
    font-size: 1.8rem;
  }
  /* PROJECTS */

  #projects {
    min-width: 100%;
    height: 100%;
  }
  #projectsBlur h1 {
    display: block;
    font-size: 30px;
  }
  .projectsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .site {
    margin: auto;
    width: 250px;
    height: 100px;
  }
  .popup-1,
  .popup-2,
  .popup-3,
  .popup-4,
  .popup-5,
  .popup-6 {
    width: 90%;
    height: 100%;
  }
  .popupWrapper {
    height: 90%;
    width: 100%;
  }
  .imgShowcase {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  /* .mobileView{
    height: 100%;
    width: 25%;
  } */
  .desktopView {
    width: 90%;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .description h1 {
    top: 0;
    font-size: 20px;
  }
  .description {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  .description p {
    top: 30%;
    position: absolute;
    width: 100%;
    font-size: 15px;
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    color: black;
  }
  .tools {
    background-color: inherit;
    width: 100%;
    box-shadow: none;
  }
  .btnclose {
    width: 25%;
    height: 7%;
  }
  .btns {
    width: 100%;
    top: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .description .websiteTitle {
    color: black;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .tools {
    padding: 0;
    position: absolute;
    top: 70%;
    color: black;
  }
  .about {
    width: 100%;
    height: 90%;
  }
  .info {
    width: 100%;
    height: 50%;
    border: none;
  }
  .info h2 {
    width: 100%;
    font-size: 1.1rem;
  }
  .info p {
    width: 100%;
    font-size: 1.1rem;
    top: 25%;
  }
  .techs {
    display: none;
  }
  .tech {
    width: 100%;
    height: 70%;
    top: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* .tech1 {
    grid-column: 1/2;
    grid-row: 1/2;
  } */
  .contactDetails {
    display: none;
  }
  .contact {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
  }
  .contactDetailsMobile {
    width: 80%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    font-size: 2rem;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .message {
    display: none;
  }
}
